/* Site policy styles for: projects.oregon-pip.org */

#portal-logo {
       /* top   right bottom left */
  margin: 0.6em 0.6em 0.6em 0.6em;
}

#content a.video {
  max-width:640px;
  max-height:480px;
  margin-left:-3.4em;
}
